.load-btn {
  display: inline-block;
  background-color: #c6701f;
  color: #eae8e8;
  border-radius: 5px;
  border: none;
  width: 70px;
  height: 25px;
  margin: 3px;
}

@media screen and (max-width: 580px) {
  .load-btn  {
    font-size: 12px;
    width: 40px;
    height: 18px;
    padding: 0px;
  }
}
