li {
  float: left;
  padding: 0px;
}

ul {
  list-style-type: none;
  width: 100%;
}

h4 {
  white-space: nowrap;
  display: inline block;
  width: 100px;
  margin-top: 10px;
  font-size: 15px;
  height: 60px;
  color: lightgray;
  background-color: #6d6d6d;
  border-radius: 5px;
  padding: 14px;
  padding-right: 900px;
  index: -1;
}

.row {
  margin-top: 30px;
}
