h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  color: #eae8e8;
  margin-top: 20px;
  font-size: 60px;
}

p {
  color: #eae8e8;
}

app-save-beat {
  display: inline-block;
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 22px;
  }

  p {
    font-size: 12px;
    width: 300px;
  }
}
