.play-btn {
  display: inline-block;
  background-color: #139356;
  color: #eae8e8;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 70px;
}

.stop-btn {
  display: inline-block;
  background-color: #ff410c;
  color: #eae8e8;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 70px;
}

.clear-btn {
  display: inline-block;
  background-color: #148dbc;
  color: #eae8e8;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 80px;
}

.slider, .slider-text {
  display: inline-block;
  color: #148dbc;
}

.beat-indexes .short-number {
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  color: #eae8e8;
  margin-right: 26px;
  border-radius: 3px;
}

.beat-indexes .long-number {
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  color: #eae8e8;
  margin-right: 18px;
  border-radius: 3px;
}

#first-beat-index {
  margin-left: 160px;
}

.light-up {
  background-color: #139356;
}

@media screen and (max-width: 580px) {
  .play-btn, .stop-btn, .clear-btn  {
    font-size: 12px;
    width: 40px;
    padding: 0px;
  }

  p {
    text-align: center;
  }

  .beat-indexes {
    font-size: 10px;
  }

  .beat-indexes .short-number {
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    color: #eae8e8;
    margin-right: 12px;
    border-radius: 3px;
  }

  .beat-indexes .long-number {
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    color: #eae8e8;
    margin-right: 7px;
    border-radius: 3px;
  }

  #first-beat-index {
    margin-left: 80px;
  }
}

@media screen and (max-width: 375px) {
  .beat-indexes {
    font-size: 6px;
  }

  .beat-indexes .short-number {
    padding-left: 3px;
    padding-right: 3px;
    display: inline-block;
    color: #eae8e8;
    margin-right: 3px;
    border-radius: 3px;
  }

  .beat-indexes .long-number {
    padding-left: 3px;
    padding-right: 2px;
    display: inline-block;
    color: #eae8e8;
    margin-right: 1px;
    border-radius: 3px;
  }

  #first-beat-index {
    margin-left: 53px;
  }

  .slider-text {
    font-size: 10px;
  }
}
