img {
  width: 40px;
}

button {
  padding: 0px;
  background: none;
  border: none;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-right: 4px;
  margin-left: 4px;
}

li {
  width: 100%;
  padding: 0px;
  background: none;
}

ul {
  list-style-type: none;
  padding: 0px;
}
