/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Ubuntu+Mono');

body {
  background-color: #383838;
  font-family: 'Ubuntu Mono', monospace;
}

.container {
  min-width: 1200px;
}

@media screen and (max-width: 580px) {
  .container {
    min-width: 550px;
  }
}
